# Arthmetic Operation

In [1]:
x=3

print(type(x)) #Data Type
print(x)

print(x+1) #Addition
print(x-1) #Subtraction 
print(x*2) #Multiplication
print(x/5) #Division

print(x ** 2)

<class 'int'>
3
4
2
6
0.6
9

In [2]:
x +=1
print(x)

4

In [3]:
x*=2
print(x)

8

In [4]:
x=3.4

print(type(x))

<class 'float'>

In [5]:
x="Salina"
print(type(x))

<class 'str'>

In [6]:
x=10 
y=5
z=9
print(y,z*3,y-2,z+3,x**2,y+3)

5 27 3 12 100 8

# Boolean

In [8]:


t=True
f=False

print(type(t))
print(t and f)

<class 'bool'>
False

In [9]:
#AND 

#1 1=1
#1 0=0
#0 1=0
#0 0=0

In [10]:
print(t or f)

True

In [11]:
print(not t)

False

In [12]:
print(t != f)

True

# String

In [13]:
stud="SALINA"

Make="BAGWAN"

print(stud)
print(Make)

SALINA
BAGWAN

In [16]:
#print(len(Rack))
cm=stud +"  her surname is  "+ Make
print(cm)

SALINA  her surname is  BAGWAN

In [18]:
sam="%s %s %d" %(stud,Make,50)
print(sam)

SALINA BAGWAN 50

In [19]:
s="arya"
d="seli"

print(s.capitalize())
print(d.capitalize())
print(d.upper())
print(s.rjust(50))

print(s.center(130))

print(d.replace("r","m"))
print("              Selin".strip())
print("              Selin")

Arya
Seli
SELI
                                              arya
                                                               arya
seli
Selin
              Selin